@media (max-width:480px){
/* Language Menu */
.languagemenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: 20px;
    position: fixed;
    z-index: 1000; /* Ensure it stays above other elements */
}

.menu-toggle {
    display: block;
    background: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    margin-top: 20px;
    justify-content: flex-start; /* Align to the top-left */
    align-items: flex-start; /* Align to the top-left */
    align-content: flex-start; /* Align to the top-left */
    position: absolute;
    top: 20px; /* Adjust as needed */
    left: 20px; /* Adjust as needed */
}

.languagemenu.open .menu-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start;
    align-content: flex-start; 
    margin-top: 50px;
}

.menu-links {
    display: none;
    flex-direction: column;
    background-color: transparent;
}

.menu-links a {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 10px;
    margin: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 12pt;
    background:#ffffff;
    width: 100px;
    height: 20px;
    text-decoration: none;
    border: 1pt #b47c56 solid;
    color:#b47c56;
}

.menu-links a:hover {
    text-decoration: overline;
}

/* header */
header {
    display: flex;
    max-width: 100%;
    padding: 30px;
    margin: 0;
}
header h1 {
    display: flex;
    max-width: 100%;
    text-align: center;
    margin: auto;
    font-size: 20pt;
}

html,
body {
    margin: 0;
    padding: 0;
}
.body {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: auto;
}
.body h6 {
    display: none;
    text-align: center;
    font-size: 12pt;
    padding: 30px 20px;
    margin: 0;
}

.guide {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}
.tabshere {
    max-width: 25%;
    height: 70vh;
    display: flex;
    flex-direction: column;    
    padding: 10px;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    overflow: hidden;
    margin: 0;
}
.tablinks {
    color: #ffffff;
    font-size: 11pt;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    margin: auto;
    transition: 0.3s;
    background-color: transparent;
    width: 100%;
    height: auto;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    text-align: left;
}

.tablinks:hover {
    text-decoration: overline;
}

.tablinks.active {
    text-decoration: overline;
}

.tabcontent {
    display: none;
    padding: 10px;
    margin: 0;
    height: calc(50vh - 100px);
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.tabcontent h3 {
    font-size: 14pt;
}

/* Box styling for content sections */
.box-container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.box {
    display: flex;
    max-width: 100%;
    column-gap: 0;
    flex-direction: column;
    flex: 1 1 calc(50vh - 20px); 
    padding: 10px;
    overflow-y: auto;
    margin:auto;
}

.box img {
    max-width: 20px;
    height: auto;
    margin-bottom: 5px;
}

.box p { 
    font-size: 11pt;
    line-height: 2;
    text-align: left;
}
#Cover,
#StayGuide,
#Regulation,
#FloorGuide,
#RoomServices,
#Safety,
#Rules{
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 80%;
    height: 70vh;
}
.introduction{
    background-color: #e9e9e9;
    padding: 20px;
    margin:0;
}
.introduction h2{
    font-size: 12pt;
}
.introduction p{
    font-size: 12pt;
    line-height: 150%;
}
.Home video{
    aspect-ratio: 2 / 2;
    width: auto;
    object-fit: fill;
    object-position: right;
}
/* footer */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
    padding: 20px;
 }
 .contact-icons a{
     width: 100%;
     padding: 10px;
 }

 .copyright h6{
     font-size: 10pt;
     text-align: center;
     color: #b47c56;
     padding:5px;
     margin:0;
 }
 .copyright p{
     font-size: 9pt;
     text-align: center;
     color: #b47c56;
     padding-top:20px;
     margin:0;
 }
}
