.ms-madi-regular {
    font-family: "Ms Madi", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight:900;
    font-style: normal;
  }

  .playfair {
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
    font-variation-settings:"wdth" 100;
  }

h1, h2, h3, h4, h5, h6, a, button, p{
    font-family: "Playfair", serif;
    font-weight: 100;
}
p {
    font-family: "Roboto", sans-serif;
    font-size: 11pt;
    text-align:justify;
}
.signature {
    font-family: "Ms Madi", cursive;
    font-size: 25pt;
    color:#405f96;
}
:root {
    --primary-color: #000000;
    --secondary-color: #363636;
    --accent1-color: #6a7c9a;
    --accent2-color: #b47c56;
}
.home-logo{
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
}
.home-logo img{
    padding: 20px;
    width:100px;
}
/* Language Menu */
.languagemenu {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    margin: 0;
    max-width: 100%;
}

.menu-toggle {
    display: none;
    color:#0f3f54;
    padding: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
.menu-links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 20px;
    background-color: #a08f84;
    column-gap: 20px;
    max-width: 100%;
    justify-content: space-between;
}

.languagemenu a {
    text-decoration: none;
    color:white;
    letter-spacing: 1.2pt;
    padding: 0 10px;
    text-align: center;
    font-size: 12pt;
}
.languagemenu a:hover {
    text-decoration: overline;
}
/* header */
header{
    background-color: #d3d3d3;
    display: flex;
    max-width: 100%;
    padding:50px;
    margin:0;
}
header h1{
    display: flex;
    max-width: 100%;
    text-align: center;
    margin: auto;
    color:#8f7463;
}

html,
body {
    margin:0;
    padding:0;
}
.body{
    display: flex;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: auto;
    height: 50vh;
}
.background-photo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    object-fit: cover;
    z-index: -1;
}

.body h6{
    text-align: center;
    font-size: 15pt;
    padding:50px;
    margin:0;
}

.guide{
    display: flex;
    flex-direction: row;
    padding:0;
    margin:0;
}
.tabshere{
    max-width: 20%;
    height: 70vh;
    display: flex;
    flex-direction: column;    
    padding: 20px;
    background-color: #6a7c9a;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    overflow:hidden;
}
.tablinks {
    color: #ffffff;
    font-size: 14pt;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 30px;
    margin:auto;
    transition: 0.3s;
    background-color: transparent;
    width: 200px;
    height: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.tablinks:hover {
    text-decoration: overline;
}

.tablinks.active {
    text-decoration: overline;
}

.tabcontent {
    display: none;
    padding: 20px;
    margin:auto;
    height: calc(70vh - 120px);
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #ffffff;
}

.tabcontent h3 {
    font-size: 20pt;
    color:#b47c56;
}
.tabcontent h4{
    font-size:16pt;
    background-color: rgb(255, 243, 226);
}
/* Box styling for content sections */
.box-container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.box {
    display: flex;
    max-width: 100%;
    column-gap: 50px;
    flex-direction: row;
    flex: 1 1 calc(50vh - 20px); 
    padding: 10px;
    overflow-y: auto;
    margin:auto;
}

.box img {
    max-width: 50px;
    height: auto;
    margin-bottom: 10px;
}

.box p {
    font-size: 12pt;
    line-height: 1.5;
    text-align: justify;
}
#Cover,
#StayGuide,
#Regulation,
#FloorGuide,
#RoomServices,
#Safety,
#Rules,
#Dining{
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 80%;
    height: 70vh;
}
.introduction{
    padding: 20px 0;
}
.Home video{
    width: 100%;
}
/* dining menu */

.menu-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding:20px;
    margin:0;
    background-color: #f3e4d2;
}
.menu-container img{
    width: 100%;
}
.menu-box {
    display: flex;
    max-width: 100%;
    column-gap: 20px;
    flex-direction: row;
    padding: 10px;
}
#item-number {
    width: 10%;
}
#item-name {
    width: 80%;
}
#price {
    width: 10%;
}
#item-number h5{
    font-size: 18pt;
    padding:0;
    margin:0;
}
#item-name h6{
    font-size: 16pt;
    padding:0;
    margin:0;
}
#item-name p{
    font-size: 10pt;
    padding:0;
    margin:0;
}
#price h6{
    font-size: 18pt;
    padding:0;
    margin:0;
}

/* footer */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
    padding: 50px;
    background-color: #d4d4d4;
 }
 .contact-icons a{
     width: 100%;
     padding: 10px;
 }
 .copyright h6{
     font-size: 12pt;
     text-align: center;
     color: #b47c56;
     padding:5px;
     margin:0;
 }
 .copyright p{
     font-size: 10pt;
     text-align: center;
     color: #b47c56;
     padding-top:20px;
     margin:0;
 }
